.Sidebar {
  height: calc(100vh - 50px);
  width: 300px;
  background-color: #8f9094;
  position: relative;
  transition: width 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0;
}

.LinksWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  max-width: 150px;
  align-self: center;
}

.Icon {
  width: 24px;
  height: 24px;
}

.Link {
  display: flex;
  gap: 8px;
  align-items: center;
  width: 100%;
}

.collapsed {
  width: 80px;
}

.collapseBtn {
  position: absolute !important;
  bottom: 20px;
  right: -64px;
  background: blue !important;

  span {
    width: 40px;
    height: 40px;
  }
}

.collapseWrapper {
  align-self: center;
}